
@import url('https://fonts.googleapis.com/css?family=Roboto:400,500');
@import url('https://fonts.googleapis.com/css?family=Hepta+Slab:400,600&display=swap');



// Color variables
$white: #ffffff;

$primary: #f9c639;;
$secundary: #282a2a;
$success: #5BC000;;
$info: #1F93AF;
$warning: #f8b425;
$danger: #ec4561;
$dark: #282a2a;
$muted: #9ca8b3;


// Gray Colors
$gray-100:                  #f8f9fa;
$gray-200:                  #e9ecef;
$gray-300:                  #dee2e6;
$gray-400:                  #ced4da;
$gray-500:                  #adb5bd;
$gray-600:                  #6c757d;
$gray-700:                  #495057;
$gray-800:                  #343a40;
$gray-900:                  #212529;

$bg-body: #f8f8fa;
$left-bar: #282a2a;
$topbar-background: #f9c639;;
$topbar-search-background: #e0e0ea;
$footer-background: #f1f2f5;

$font-family: 'Roboto', sans-serif;
$font-family-secondary: 'Sarabun', sans-serif;



$shadow: 0px 0px 13px 0px rgba(236, 236, 241, 0.44);

$base-font: 14px;

// Width variables
$width: 100%;

// Height variables
$height: 100%;

$leftbar-menu-color: #b5bec7;
$leftbar-menu-hover-color: #b5bec7;
$leftbar-menu-active-color: white;


//Screen sizes
$screen-extra-small: 320px;
//bootstraps 4 breaks point - 
$screen-small: 576px;
$screen-middle: 768px;
$screen-large: 992px;
$screen-extralarge: 1200px;

$element-size-sm: 1em;
$element-size-md: 1.5em;
$element-size-lg: 2em;
$element-size-xl: 4em; 

// Extra Small devices (landscape phones, 320 and up)
@mixin min-xs {
    @media (min-width: $screen-extra-small) {
        @content;
    }
}

// Small devices (landscape phones, 576px and up)
@mixin min-sm {
    @media (min-width: $screen-small) {
        @content;
    }
}

// Medium devices (tablets, 768px and up)
@mixin min-md {
    @media (min-width: $screen-middle) {
        @content;
    }
}

// Large devices (desktops, 992px and up)
@mixin min-lg {
    @media (min-width: $screen-large) {
        @content;
    }
}

// Extra large devices (large desktops, 1200px and up)
@mixin min-xl {
    @media (min-width: $screen-extralarge) {
        @content;
    }
}

// special size 
@mixin min-sp {
    @media (min-width: 993px) {
        @content;
    }
}

@mixin ie {
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    /* IE10+ CSS styles go here */
    @content;

    }
}
// custom 
@mixin min-custom($custom) {
    @media (min-width: $custom) {
        @content;
    }
}

