@import 'vars';

body {
    -webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
.bold {
    font-weight: bolder;
}

.sm-gutter {
    $sm : 5px;
    margin-right: -$sm;
    margin-left: -$sm;
    > *[class^="col-"] {
        padding-left:$sm;
        padding-right:$sm;
    }
} 

.btn-secondary {
    color: #fff;
    background-color:$secundary ;
    border-color: $secundary;
    &:hover, &:active, &:focus {
        background-color: darken( $secundary , 5% ) ;
        border-color: darken( $secundary , 5% );
    }
}
.btn-secondary:not(:disabled):not(.disabled).active, .btn-secondary:not(:disabled):not(.disabled):active, .show>.btn-secondary.dropdown-toggle {
    color: #fff;
    background-color: $secundary ;
    border-color: $secundary ;
}

.btn-outline-secondary {
    color: $secundary;
    border-color: $secundary;
}
.btn-outline-secondary:hover, .btn-outline-secondary:active, .btn-outline-secondary:focus,
.btn-outline-secondary:not(:disabled):not(.disabled).active, 
.btn-outline-secondary:not(:disabled):not(.disabled):active, 
.show>.btn-outline-secondary.dropdown-toggle {
    color: white;
    background-color: $secundary;
    border-color: $secundary;
}

.btn-secondary.focus, .btn-secondary:focus, 
.btn-outline-secondary.focus, .btn-outline-secondary:focus, 
.btn-secondary:not(:disabled):not(.disabled).active:focus, 
.btn-secondary:not(:disabled):not(.disabled):active:focus, 
.show > .btn-secondary.dropdown-toggle:focus, 
.btn-outline-secondary:not(:disabled):not(.disabled).active:focus,
.btn-outline-secondary:not(:disabled):not(.disabled):active:focus, 
.show > .btn-outline-secondary.dropdown-toggle:focus,
.btn-secondary:not(:disabled):not(.disabled).active:focus, 
.btn-secondary:not(:disabled):not(.disabled):active:focus, 
.show>.btn-secondary.dropdown-toggle:focus,
.btn-secondary.focus, .btn-secondary:focus {
    box-shadow: 0 0 0 0.2rem rgba(81, 187, 55, 0.5);
}


.btn-link {
    color:$info;
    &:hover, &:active, &:focus {
        color:darken($info,.2)
    }
    &-danger {
        color:$danger;
        &:hover, &:active, &:focus {
            color:darken($danger,.2)
        }
    }
    &-success {
        color:$success;
        &:hover, &:active, &:focus {
            color:darken($success,.2)
        }
    }
    &-secundary {
        color:$secundary;
        text-decoration: underline;
        &:hover, &:active, &:focus {
            color:darken($secundary,.2)
        }
    }
}



.custom-checkbox label {
    cursor:pointer
} 

.call-to-actions h5 {
    font-size:1rem;
    font-weight: normal;
}

#selectDateCalendar {
    display:none;
}

#calendar {
    margin:30px 0px;
}

.card-title {
    font-size: 1.2rem;
}
.card-header {
    background-color: white;
    border-bottom: none;
}

#card-event-description {
    .card-header {
        display:flex;
        justify-content: space-between;
    }
}
#week-days {
    display: none;
}
.card-title {
    font-family: "Hepta Slab", serif;
    font-weight: 600;
    color: $dark;
}
.card-event-data {

    p {
        margin-bottom:5px;
    }
    .card-footer {
        background-color: #fff;
        padding-top: 0px ;
        border-top:none;
    }
}

#CNC_input {
    display:none;
}
#how-many-kids {
    display:none;

}

