body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.bold {
  font-weight: bolder;
}

.sm-gutter {
  margin-right: -5px;
  margin-left: -5px;
}
.sm-gutter > *[class^=col-] {
  padding-left: 5px;
  padding-right: 5px;
}

.btn-secondary {
  color: #fff;
  background-color: #282a2a;
  border-color: #282a2a;
}
.btn-secondary:hover, .btn-secondary:active, .btn-secondary:focus {
  background-color: #1c1d1d;
  border-color: #1c1d1d;
}

.btn-secondary:not(:disabled):not(.disabled).active, .btn-secondary:not(:disabled):not(.disabled):active, .show > .btn-secondary.dropdown-toggle {
  color: #fff;
  background-color: #282a2a;
  border-color: #282a2a;
}

.btn-outline-secondary {
  color: #282a2a;
  border-color: #282a2a;
}

.btn-outline-secondary:hover, .btn-outline-secondary:active, .btn-outline-secondary:focus,
.btn-outline-secondary:not(:disabled):not(.disabled).active,
.btn-outline-secondary:not(:disabled):not(.disabled):active,
.show > .btn-outline-secondary.dropdown-toggle {
  color: white;
  background-color: #282a2a;
  border-color: #282a2a;
}

.btn-secondary.focus, .btn-secondary:focus,
.btn-outline-secondary.focus, .btn-outline-secondary:focus,
.btn-secondary:not(:disabled):not(.disabled).active:focus,
.btn-secondary:not(:disabled):not(.disabled):active:focus,
.show > .btn-secondary.dropdown-toggle:focus,
.btn-outline-secondary:not(:disabled):not(.disabled).active:focus,
.btn-outline-secondary:not(:disabled):not(.disabled):active:focus,
.show > .btn-outline-secondary.dropdown-toggle:focus,
.btn-secondary:not(:disabled):not(.disabled).active:focus,
.btn-secondary:not(:disabled):not(.disabled):active:focus,
.show > .btn-secondary.dropdown-toggle:focus,
.btn-secondary.focus, .btn-secondary:focus {
  box-shadow: 0 0 0 0.2rem rgba(81, 187, 55, 0.5);
}

.btn-link {
  color: #1F93AF;
}
.btn-link:hover, .btn-link:active, .btn-link:focus {
  color: #1f92ae;
}
.btn-link-danger {
  color: #ec4561;
}
.btn-link-danger:hover, .btn-link-danger:active, .btn-link-danger:focus {
  color: #ec4460;
}
.btn-link-success {
  color: #5BC000;
}
.btn-link-success:hover, .btn-link-success:active, .btn-link-success:focus {
  color: #5bbf00;
}
.btn-link-secundary {
  color: #282a2a;
  text-decoration: underline;
}
.btn-link-secundary:hover, .btn-link-secundary:active, .btn-link-secundary:focus {
  color: #282929;
}

.custom-checkbox label {
  cursor: pointer;
}

.call-to-actions h5 {
  font-size: 1rem;
  font-weight: normal;
}

#selectDateCalendar {
  display: none;
}

#calendar {
  margin: 30px 0px;
}

.card-title {
  font-size: 1.2rem;
}

.card-header {
  background-color: white;
  border-bottom: none;
}

#card-event-description .card-header {
  display: flex;
  justify-content: space-between;
}

#week-days {
  display: none;
}

.card-title {
  font-family: "Hepta Slab", serif;
  font-weight: 600;
  color: #282a2a;
}

.card-event-data p {
  margin-bottom: 5px;
}
.card-event-data .card-footer {
  background-color: #fff;
  padding-top: 0px;
  border-top: none;
}

#CNC_input {
  display: none;
}

#how-many-kids {
  display: none;
}

/*# sourceMappingURL=style-vinolia.css.map */
