include mixins.pug
doctype
html(lang="es")
    head
        include head.pug
    body
        #wrapper
            include topbar.pug
            include menu.pug
            +main-content
                +page-title('Crear Evento')
                form(action="#" method="post")
                    .row
                        .col-lg-6

                            #card-event-description.card.custom-inputs
                                .card-header
                                    h2.card-title Descripción del Evento
                                    .form-inline
                                        label(for="").mr-2 ID del Evento
                                        input(type="text" class="form-control")
                                .card-body
                                    .form-group
                                        label(for="") Nombre del evento
                                        input(type="text" class="form-control")
                                    .form-group
                                        label(for="") Descripción
                                        textarea(name="", cols="30", rows="10" class="form-control")
                                    .form-group
                                        label(for="") Descripción corta
                                        textarea(name="", cols="30", rows="5" class="form-control")

                                    .form-group
                                        label(for="") Nombre del evento
                                        input(type="text" class="form-control")
                                    .form-group
                                        .custom-control.custom-checkbox.mr-3
                                            input(type="checkbox" class="custom-control-input" id="privateEvent" name="daterange" )
                                            label(class="custom-control-label" for="privateEvent") Evento Privado

                        .col-lg-6
                            #card-event-price.card.custom-inputs
                                .card-header.d-flex
                                    h3.card-title Valor
                                .card-body
                                    .form-row
                                        .col-md-6
                                            .form-group
                                                label(for="") Valores Adultos
                                                .form-row
                                                    .col-6.input-group
                                                        .input-group-prepend
                                                            span.input-group-text $
                                                        input(type="text" class="form-control")
                                                    .col-6.input-group
                                                        .input-group-prepend
                                                            span.input-group-text USD
                                                        input(type="text" class="form-control")
                                            .form-group
                                                label(for="") Valores Niños
                                                .form-row
                                                    .col-6.input-group
                                                        .input-group-prepend
                                                            span.input-group-text $
                                                        input(type="text" class="form-control")
                                                    .col-6.input-group
                                                        .input-group-prepend
                                                            span.input-group-text USD
                                                        input(type="text" class="form-control")                                        

                                        .col-md-6
                                            .form-group
                                                label(for="") Cupos Disponibles
                                                input(type="text" class="form-control") 
                                            .form-group
                                                label(for="") Seleccione el evento que comparte cupos
                                                select(name="" class="form-control")
                                                    option(value="1")
                            #card-event-gallery.card.my-2
                                .card-header
                                    h3.card-title Imagen destacada
                                .card-body
                                    .custom-file
                                        input(type="file" class="custom-file-input" id="customFile" )
                                        label(class="custom-file-label" for="customFile") Elegir archivo
    
                    .row
                        .col-lg-6
                            #card-event-range.card
                                .card-header
                                    h3.card-title Duración
                                .card-body 
                                    .form-inline.mb-3
                                        span.mr-2 Evento recurrente
                                        input(type="checkbox" id="switch3" switch="bool" )
                                        label(for="switch3" data-on-label="Yes" data-off-label="No")
                                    .form-inline#week-days.mb-3
                                        .custom-control.custom-checkbox.mr-3
                                            input(type="checkbox" class="custom-control-input" id="allweek")
                                            label(class="custom-control-label" for="allweek") Todos los días
                                        .custom-control.custom-checkbox.mr-3
                                            input(type="checkbox" class="custom-control-input" id="monday")
                                            label(class="custom-control-label" for="monday") Lunes                           
                                        .custom-control.custom-checkbox.mr-3
                                            input(type="checkbox" class="custom-control-input" id="tuesday")
                                            label(class="custom-control-label" for="tuesday") Martes
                                        .custom-control.custom-checkbox.mr-3
                                            input(type="checkbox" class="custom-control-input" id="wednesday")
                                            label(class="custom-control-label" for="wednesday") Miercoles
                                        .custom-control.custom-checkbox.mr-3
                                            input(type="checkbox" class="custom-control-input" id="thursday")
                                            label(class="custom-control-label" for="thursday") Jueves
                                        .custom-control.custom-checkbox.mr-3
                                            input(type="checkbox" class="custom-control-input" id="friday")
                                            label(class="custom-control-label" for="friday") Viernes
                                        .custom-control.custom-checkbox.mr-3
                                            input(type="checkbox" class="custom-control-input" id="saturday")
                                            label(class="custom-control-label" for="saturday") Sábado

                                    #only-day.form-row.mb-3
                                        .col-lg-6
                                            span Día
                                            #datetimepicker5.input-group.date(data-target-input="nearest")
                                                input(type="text" class="form-control datetimepicker-input" data-target="#datetimepicker5")
                                                .input-group-append(data-target="#datetimepicker5" data-toggle="datetimepicker")
                                                    span.input-group-text
                                                        i.far.fa-calendar                                    
                                    .form-row.mb-3
                                        .col-lg-4
                                            span Desde
                                            #datetimepicker3.input-group.date(data-target-input="nearest")
                                                input(type="text" class="form-control datetimepicker-input" data-target="#datetimepicker3")
                                                .input-group-append(data-target="#datetimepicker3" data-toggle="datetimepicker")
                                                    span.input-group-text
                                                        i.far.fa-clock
                                        .col-lg-4
                                            span Hasta
                                            #datetimepicker4.input-group.date(data-target-input="nearest")
                                                input(type="text" class="form-control datetimepicker-input" data-target="#datetimepicker4")
                                                .input-group-append(data-target="#datetimepicker4" data-toggle="datetimepicker")
                                                    span.input-group-text
                                                        i.far.fa-clock
                                        .col-lg-4.d-flex.align-items-end
                                            p.mb-0 Duración: 
                                                span.timelapse 2 horas

                    .actions.d-flex.justify-content-center
                        button(href="#" class="btn btn-lg btn-danger mr-3 cancel") Cancelar
                        button(type="submit" class="btn btn-lg  btn-success") Guardar Evento


                




                    
        include scripts.pug