include mixins.pug
doctype
html(lang="es")
    head
        include head.pug
    body
        #wrapper
            include topbar.pug
            include menu.pug
            +main-content
                +page-title('Asistencia al Evento')
                    section#event-review
                        .row
                                .col-lg-6
                                    .card.card-event-data
                                        .card-body
                                            .row.row-sm
                                                .col-lg-8
                                                    h3.card-title Información del evento
                                                    p <strong>Nombre del Evento:</strong> <span class="event-name"> Lorem ipsum </span>
                                                    p <strong>Fecha:</strong> <span class="event-day"> 10-10-2019</span> <span class="event-time"> 10:30 AM</span>
                                                    p <strong>Cupos disponibles:</strong> <span class="event-quotas"> 18/22</span>
                                                    p <strong>Categoría:</strong> <span class="event-category"> Evento privado </span>
                                                    p <strong>Link del evento:</strong> <a class="event-link" href="#"> https://www.vinolia.cl/evento/adsdas </a>

                                                .col-lg-4
                                                    .event-thumbnail
                                                        img(src="http://placehold.it/250x250", alt="" class="img-fluid")
                                        .card-footer.d-flex.justify-content-between
                                            .actions.d-flex.justify-content-between
                                                a(href="#" class="btn btn-success btn-lg mr-2") Editar
                                                a(href="#" class="btn btn-danger btn-lg mr-2") Bloquear evento
                                            .delete
                                                    a(href="#" class="btn btn-link btn-link-danger btn-lg mr-2") Eliminar evento
                    section#event-attendant.my-3
                        .card
                            .card-header.d-flex.justify-content-between
                                h2.card-title Lista de asistentes
                                .actions
                                    a(href="event-new-attendant.html" class="btn btn-info  mr-2") Agregar asistente
                                    a(href="#" class="btn btn-primary") Descargar Lista
                            .card-body
                                .table-section
                                    +datatable-attendant

                         

                




                    
        include scripts.pug