include mixins.pug
doctype
html(lang="es")
    head
        include head.pug
    body
        #wrapper
            include topbar.pug
            include menu.pug
            +main-content
                +page-title('Añadir Asistentes')
                form(action="")
                    .row
                        .col-lg-6
                            .card.card-personal-data.mb-3
                                .card-body
                                    h2.card-title   Datos Personales
                                    .form-row.my-3
                                        .col-6
                                            label(for="name") Nombre
                                            input(type="text" class="form-control")
                                        .col-6
                                            label(for="last-name") Apellido
                                            input(type="text" class="form-control")                                    
                                    .form-row.my-3
                                        .col-6
                                            label(for="email") Email
                                            input(type="email" class="form-control")
                                        .col-6
                                            label(for="last-name") Teléfono
                                            input(type="text" class="form-control")    
                                    .form-row.my-3
                                        .col-12.mb-3
                                            label(for="contry") Pais de Origen
                                            select(name="contry" class="form-control")
                                                option(value="1") pais
                                        .col-6
                                            label(for="como") ¿Cómo nos conoció?
                                            select(id="como" name="como" class="form-control")
                                                option(value="0") Seleccione
                                                option(value="1") Hotel
                                                option(value="2") Redes sociales
                                                option(value="3") Medios impresos
                                                option(value="4") Un amigo
                                                option(value="5") Google o buscadores
                                                option(value="6") Otro
                                        .col-6(id="CNC_input")
                                            label(for="") ¿Cuál ?
                                            input(type="text" class="form-control")

                        .col-lg-6
                            .card.card-attendant.mb-3
                                .card-body
                                    h3.card-title Asistentes
                                    .form-row
                                        .col-lg-12
                                            label ¿Cuántas personas Vienen?
                                            input(type="text" class="form-control")
                                    .form-row.my-3
                                        .col-lg-4.d-flex.align-items-center
                                            .custom-control.custom-checkbox
                                                input(type="checkbox" class="custom-control-input" id="check_Menores")
                                                label(class="custom-control-label" for="check_Menores") ¿Menores de edad?
                                        #how-many-kids.col-lg-4
                                            label(for="") ¿Cuántos?
                                            input(type="text" class="form-control")
                            .card.card-attendant.mb-3
                                .card-body
                                    h3.card-title Valores
                                    .form-group
                                        label(for="") Total
                                        input(type="text" class="form-control")
                                    .form-group
                                        label(for="") Metodo de pago
                                        select(name="metodo-pago" class="form-control")
                                            option(value="1") redcompra
                                            option(value="2") Efectivo
                                            option(value="3") Kushiki
                    .actions.d-flex.justify-content-center
                        button(class="btn btn-lg btn-danger mr-3 cancel") Cancelar
                        a(href="#" class="btn btn-lg btn-success") Guardar                
                         

                




                    
        include scripts.pug