include mixins.pug
doctype
html(lang="es")
    head
        include head.pug
    body
        #wrapper
            include topbar.pug
            include menu.pug
            +main-content
                +page-title('Calendario de evenetos')
                .card
                    .card-body
                        .section-filter
                            form(action="" class="form-inline")
                                .form-group
                                    .custom-control.custom-checkbox.mr-3
                                        input(type="checkbox" class="custom-control-input" id="allEvents" name="daterange" )
                                        label(class="custom-control-label" for="allEvents") Todos los eventos

                                    .custom-control.custom-checkbox.mr-3
                                        input(type="checkbox" class="custom-control-input" id="privateEvents" name="daterange" )
                                        label(class="custom-control-label" for="privateEvents") Eventos privados

                                    .custom-control.custom-checkbox.mr-3
                                        input(type="checkbox" class="custom-control-input" id="selectDates" name="daterange" )
                                        label(class="custom-control-label" for="selectDates") Fechas                                  
                                .form-group
                                    input(type="text" id="selectDateCalendar" name="eventCalendar" class="form-control daterange-calendar-full mr-3")
                                .form-group
                                    button.btn.btn-danger.mr-3() Bloquear día
                        .section-calendar
                            #calendar
                            div(style='clear:both')






                    
        include scripts.pug