footer
    .container
        .row
            .col-12.col-sm-2
                img.img-fluid.logo_footer( src="images/logo_ohl-blanco.png")
            .col-12.col-sm
                ul.nav.justify-content-center
                    li.nav-item
                        a.nav-link(href="#") Trabaja con nosotros
                    li.nav-item
                        a.nav-link(href="#") Mapa del sitio
                    li.nav-item
                        a.nav-link(href="#") Sistema integrado de gestión
                    li.nav-item
                        a.nav-link(href="#") Intranet
                p Sociedad Concesionaria Centro de Justicia de Santiago S.A - Diseñado por Colibrí




