meta(charset="UTF-8")
meta(name="viewport",content="width=device-width, initial-scale=1.0" )
|
link(rel="shortcut icon" href="assets/images/favicon.ico")
// Chartist Chart CSS 
link(href='plugins/chartist/css/chartist.min.css', rel='stylesheet')
|
// Bootstrap 4.0
link(href='assets/css/bootstrap.min.css', rel='stylesheet')
|
//Datepicker
link( href="plugins/tempusdominus-bootstrap-4/build/css/tempusdominus-bootstrap-4.min.css" rel="stylesheet")
|
|
// Daterangepicker
link( href="plugins/daterangepicker/daterangepicker.css" rel="stylesheet")


|
// Data table
link(href="plugins/datatables/dataTables.bootstrap4.min.css", rel="stylesheet")
link(href="plugins/datatables/buttons.bootstrap4.min.css", rel="stylesheet")
// data table responsive
link(href="plugins/datatables/responsive.bootstrap4.min.css", rel="stylesheet")
|
// Sweet alert
link(href="plugins/sweet-alert2/sweetalert2.min.css", rel="stylesheet")
|
|
// Calendario
link(href="plugins/fullcalendar/css/fullcalendar.min.css", rel="stylesheet")
|
// 

//Dropzone
link( href="plugins/dropzone/dist/dropzone.css" rel="stylesheet")
|
|
//theme css
link(href='assets/css/metismenu.min.css', rel='stylesheet')
link(href='assets/css/icons.css', rel='stylesheet')
link(href='assets/css/style.css', rel='stylesheet')
link(href='assets/css/style-vinolia.css', rel='stylesheet')
|
// Estilos desarrollo 
//- link(href='css/developers.css', rel='stylesheet')
