include mixins.pug
doctype
html(lang="es")
    head
        include head.pug
    body
        #wrapper
            include topbar.pug
            include menu.pug
            +main-content
                +page-title('Eventos Programados')
                .card
                    .card-body
                        .section-filter
                            form(action="" class="form-row")
                                .col-md-3
                                    input(type="text" id="eventCalendar" name="eventCalendar" class="form-control daterange-calendar-full")
                        .section-table
                            +datatable-events()







                    
        include scripts.pug