form.form-horizontal
    .form-group
        label(for="username") Usuario
        input.form-control(type="text" id="username" placeholder="Nombre de Usuario")
    .form-group
        label(for="userpassword") Contraseña
        input(id="userpassword" type="password").form-control
    .form-group.row.mt-20
        .col-sm-6
            .custom-control.custom-checkbox
                input(type="checkbox" class="custom-control-input" id="customControlInline")
                label(for="customControlInline" class="custom-control-label") Recordarme
        .col-sm-6.text-right
            button.btn.btn-primary.w-md.waves-effect.waves-light(type="submit") Ingresar
    .form-group.m-t-10.mb-0.row
        .col-12.mt-20
            a(href="recovery.html")
                i.mdi.mdi-lock
                | Recuperar contraseña