doctype
html(lang="es")
    head
        include head.pug
    body
        .home-btn.d-none.d-sm-block
            a(href="inde.html").text-white
                i.fas.fas-home.h2
        .accountbg
        .wrapper-page.account-page-full
            .card
                .card-body
                    .text-center
                        a(href="index.html").logo
                            img(src="assets/images/logo-dark.png", width="200" ,alt="logo")
                    .p-3
                        h4.font-1.m-b-5.text-center Bienvenido
                        p.text-mmuted.text-center Ingresa para conocer una nueva forma de enviar tus correos
                        include login-form.pug


        include scripts.pug