.left.side-menu
    #remove-scroll.slimscroll-menu
        #sidebar-menu
            ul#side-menu.metismenu
                li
                    a(href="index.html").waves-effect
                        span Eventos
                li
                    a(href="event-new.html").waves-effect
                        span Crear nuevo Eventos                
                li
                    a(href="event-calendar.html").waves-effect
                        span Calendario de eventos
                li
                    a(href="promotions-code.html").waves-effect
                        span Manejador de descuentos