mixin page-title(name)
    .page-title-box
        .row.align-items-center
            .col-sm-6
                h4.page-title= name 
        if block
            block 

mixin main-content
    .content-page
        .content
            .container-fluid
                if block
                    block
                else
                    p sin contenido


mixin estado
    label Estado
    select(class="form-control")
        option Activo
        option inactivo
        option otro 

mixin filter(name)
    #accordion.card.filter
        a.card-title(href="#collapseOne", data-toggle="collapse" aria-expanded="true" aria-controls="collapseOne") Filtros <span class="float-right menu-arrow"><i class="mdi mdi-chevron-down"></i></span>
        #collapseOne.collapse.show(aria-labelledby="card-header" data-parent="#accordion")
            .filter-body
                .form-row
                    .col-md-4.form-group
                        label(for="")=name
                        input.form-control(type="text")
                    .col-md-4.form-group
                        label(for="") Rango de Fechas
                        #date-range.input-daterange.input-group
                            input.form-control(type="text" name="start")
                            input.form-control(type="text" name="end")
                    .col-md-4.form-group.d-flex.align-items-end
                        button(type="submit" class="btn btn-primary ") Filtrar


mixin filter-user(name)
    #accordion.card.filter
        a.card-title(href="#collapseOne", data-toggle="collapse" aria-expanded="true" aria-controls="collapseOne") Filtros <span class="float-right menu-arrow"><i class="mdi mdi-chevron-down"></i></span>
        #collapseOne.collapse.show(aria-labelledby="card-header" data-parent="#accordion")
            .filter-body
                .form-row
                    .col-md-3.form-group
                        label(for="")=name
                        input.form-control(type="text")
                    .col-md-3.form-group
                        label(for="") Perfil
                        select.form-control
                            option Administrador
                            option Editor
                            option Redactor
                    .col-md-3.form-group
                        +estado
                    .col-md-3.form-group.d-flex.align-items-end           
                        button(type="submit" class="btn btn-primary ") Filtrar

mixin filter-common(name)
    #accordion.card.filter
        a.card-title(href="#collapseOne", data-toggle="collapse" aria-expanded="true" aria-controls="collapseOne") Filtros <span class="float-right menu-arrow"><i class="mdi mdi-chevron-down"></i></span>
        #collapseOne.collapse.show(aria-labelledby="card-header" data-parent="#accordion")
            .filter-body
                .form-row
                    .col-md-3.form-group
                        label(for="")=name
                        input.form-control(type="text")
                    .col-md-3.form-group
                        +estado
                    .col-md-3.form-group.d-flex.align-items-end           
                        button(type="submit" class="btn btn-primary ") Filtrar



mixin data-table-action-rows()
    a(href="event-information.html").btn.btn-link.btn-link-secundary ver Evento
    a(href="event-new.html").btn.btn-link.btn-link-success  Editar
    a(href="event-new-attendant.html").btn.btn-link Asistente
    a(href="#").btn.btn-link.btn-link-danger  Bloquear
                    

mixin datatable-events()
    table.table.table-hover.dt-responsive(id="datatable-events" style="border-collapse: collapse; border-spacing: 0; width: 100%;")
        thead
            tr
                th N
                th ID 
                th Nombre de evento
                th Cupos vendidos
                th Cupos didponibles
                th Fecha
                th Hora
                th Acciones

        tbody
            -var n = 1
            while n < 11
                tr
                    td=n++
                    td 3#ft01
                    td Lorem ipsum
                    td 15
                    td 21
                    td Fecha 01/02/2020
                    td 20:00hrs
                    td.actions-row
                        +data-table-action-rows



mixin datatable-attendant()
    table.table.table-hover.dt-responsive(id="datatable-assistants" style="border-collapse: collapse; border-spacing: 0; width: 100%;")
        thead
            tr
                th N
                th Código de compra 
                th Nombre Asistente
                th Tickets Comprados
                th Fecha
                th Correo
                th Valor total
                th Methodo de pago

        tbody
            -var n = 1
            while n < 11
                tr
                    td=n++
                    td 3#ft01
                    td Carlota Neira
                    td 4
                    td 10-10-2019
                    td carlota@gmail.com
                    td $100.000
                    if (n%2 == 0)
                        td Kushi
                    else
                        td Efectivo
                        




mixin datatable-envio(name)
    table#datatable.table.table-hover.dt-responsive(style="border-collapse: collapse; border-spacing: 0; width: 100%;")
        thead
            tr
                th=name
                th Fecha de creación
                th Tipo de Envio
                th Estado del envio
                th Acciones
        tbody                         
            tr
                td=name + 1
                td 01-03-2019
                td Envio 
                td.red Estado 1
                td.actions
                    +data-table-action

            tr
                td=name + 2
                td 01-03-2019
                td Prueba 
                td.yellow Estado 2
                td.actions
                    +data-table-action

            tr
                td=name + 3
                td 01-03-2019
                td Prueba 
                td.green Estado 3
                td.actions
                    +data-table-action

            tr
                td=name + 4
                td 01-03-2019
                td Prueba 
                td.blue Estado 4
                td.actions
                    +data-table-action

            tr
                td=name + 4
                td 01-03-2019
                td Prueba 
                td.grey Estado 5
                td.actions
                    +data-table-action




mixin rule(name, id, hashId)
    .rule-group
        a.rule-title(href=hashId, data-toggle="collapse" aria-expanded="true" aria-controls=id)=name 
            <span class="float-right menu-arrow"><i class="mdi mdi-chevron-down"></i></span>
        .rule-body.collapse.show(id=id aria-labelledby="rule-title")
            block

//- mixin fileupload
//-     .bootstrap-filestyle.input-group
//-         input.form-control(type="text")
//-         span.group-span-filestyle.input-group-append(tabindex="0")
//-             label(for="filestyle-0" class="btn btn-primary")
//-                 span.icon-span-filestyle.fas.fa-folder-open
//-                 span.buttonText Eligir archivo

mixin repeter(tagName)
    form.repeater(enctype="multipart/form-data")
        .form-inline
            .form-group 
                input.form-control(type="text" value=tagName readonly)
            .form-group
                p.my-0.mx-2 Usar por defecto
                input(class="filestyle" data-buttonname="btn-outline-primary" type="file")
        div(data-repeater-list="group-a")
            .form-row.my-3(data-repeater-item)
                .col-2
                    select.form-control
                        option(value="1") Genero
                        option(value="2") Comuna
                        option(value="2") Plan
                        option(value="2") Edad
                .col-2
                    select.form-control
                        option(value="1") Es
                        option(value="2") No es
                        option(value="3") mayor que
                .col
                    input(type="text").form-control
                .col
                    input(class="filestyle" data-buttonname="btn-outline-primary" type="file")  

                .col-1
                    input(data-repeater-delete type="button" class="btn btn-outline-primary btn-sm my-1" value="borrar") 
        input.btn.btn-primary(data-repeater-create="" type="button" value="Nueva regla")



mixin campaign(hashId, id , name)
    .box-campaign-group#camp-1
        a.campaign-title(href=hashId, data-toggle="collapse" aria-expanded="true" aria-controls=id)=name 
            <span class="float-right menu-arrow"><i class="mdi mdi-chevron-down"></i></span>
        .campaign-body.collapse.show.mt-3(id=id aria-labelledby="rule-title")
            block


mixin repeter-base-file
    form.repeater(enctype="multipart/form-data")
        .form-row
            .col-md-6
                label Nombre del archivo
                input(type="text" class="form-control")

            .col-md-6
                label Tipo de estructura
                select( class="form-control") 
                    option CVS
                    option txt
                    option xxxxx
        h5.fieldset-tile Ingresar campos (columnas) del archivo
        div(data-repeater-list="group-a")
            .form-row.my-3(data-repeater-item)
                .col.mb-3
                    label Nombre
                    input(type="text" class="form-control")
                .col-1
                    label( data-toggle="tooltip" data-placement="top" title="posicion de la columan en el archivo") Posición
                    input(type="number" class="form-control")
                .col
                    label( data-toggle="tooltip" data-placement="top" title="posicion de la columan en el archivo") Tipos de datos
                    select(class="form-control")
                        option int
                        option charct
                        option datatype
                .col
                    label( data-toggle="tooltip" data-placement="top" title="posicion de la columan en el archivo" ) Formato de remplazo
                    input(class="form-control" placeholder="dd-mm-yyyy")
                .col-1
                    p( data-toggle="tooltip" data-placement="top" title="Afecto a reglas" class="mb-0") AF
                    input#switch3(type="checkbox" switch="none" checked)
                    label(for="switch3" data-on-label="On" data-off-label="Off")
                .col-1
                    p( data-toggle="tooltip" data-placement="top" title="LLave de envio" class="mb-0") llave
                    input#switch4(type="checkbox" switch="none" checked)
                    label(for="switch4" data-on-label="On" data-off-label="Off")
                .col
                    label Nuevo campo
                    input(type="text" class="form-control")
                .col-1
                    input.my-3(data-repeater-delete type="button" class="btn btn-outline-primary btn-sm my-1" value="borrar") 
        input.btn.btn-primary(data-repeater-create="" type="button" value="Nueva regla")

mixin psudo-list
    table
        tbody
            tr
                td
                    .form-check.form-check-inline
                        input(type="checkbox"  class="form-check-input" id="check1")
                        label(class="form-check-label" for="check1") Lista 1
                td
                    a(href="#")
                        i.fas.fa-eye
                td
                    a(href="#")
                        i.eco-delete
            tr
                td
                    .form-check.form-check-inline
                        input(type="checkbox"  class="form-check-input" id="check2")
                        label(class="form-check-label" for="check2") Lista 2
                td
                    a(href="#")
                        i.fas.fa-eye
                td
                    a(href="#")
                        i.eco-delete
            tr
                td
                    .form-check.form-check-inline
                        input(type="checkbox"  class="form-check-input" id="check3")
                        label(class="form-check-label" for="check3") Lista 3
                td
                    a(href="#")
                        i.fas.fa-eye
                td
                    a(href="#")
                        i.eco-delete
            tr
                td
                    .form-check.form-check-inline
                        input(type="checkbox"  class="form-check-input" id="check4")
                        label(class="form-check-label" for="check4") Lista 4
                td
                    a(href="#")
                        i.fas.fa-eye
                td
                    a(href="#")
                        i.eco-delete
            tr
                td
                    .form-check.form-check-inline
                        input(type="checkbox"  class="form-check-input" id="check5")
                        label(class="form-check-label" for="check5") Lista 5
                td
                    a(href="#")
                        i.fas.fa-eye
                td
                    a(href="#")
                        i.eco-delete




mixin steps-1
    ul.steps
        li.step.active
            span.circle
                span.number 1
            span.text General
        li.step
            span.circle
                span.number 2
            span.text Plantilla
        li.step
            span.circle
                span.number 3
            span.text Reglas
        li.step
            span.circle
                span.number 4
            span.text Prueba


mixin steps-2
    ul.steps
        li.step
            span.circle
                span.number 1
            span.text General
        li.step.active
            span.circle
                span.number 2
            span.text Plantilla
        li.step
            span.circle
                span.number 3
            span.text Reglas
        li.step
            span.circle
                span.number 4
            span.text Pruebas y envio


mixin steps-3
    ul.steps
        li.step
            span.circle
                span.number 1
            span.text General
        li.step
            span.circle
                span.number 2
            span.text Plantilla
        li.step.active
            span.circle
                span.number 3
            span.text Reglas
        li.step
            span.circle
                span.number 4
            span.text Pruebas y envio


mixin steps-4
    ul.steps
        li.step
            span.circle
                span.number 1
            span.text General
        li.step
            span.circle
                span.number 2
            span.text Plantilla
        li.step
            span.circle
                span.number 3
            span.text Reglas
        li.step.active
            span.circle
                span.number 4
            span.text Pruebas y envio


mixin steps-5
    ul.steps
        li.step
            span.circle
                span.number 1
            span.text General
        li.step
            span.circle
                span.number 2
            span.text Plantilla
        li.step
            span.circle
                span.number 3
            span.text Reglas
        li.step.active
            span.circle
                span.number 4
            span.text Prueba
        li.step.active
            span.circle
                span.number 5
            span.text Envio