//Basic
script(src='assets/js/jquery.min.js')
script(src='assets/js/bootstrap.bundle.min.js')
script(src='assets/js/metisMenu.min.js')
script(src='assets/js/jquery.slimscroll.js')
script(src='assets/js/waves.min.js')
|
|
// plugins
|
//daterangepicker
script(src='plugins/daterangepicker/moment.min.js')
script(src='plugins/daterangepicker/daterangepicker.js')
|
|
//datepicker
script(src='plugins/tempusdominus-bootstrap-4/build/js/tempusdominus-bootstrap-4.min.js')

|
|
//datatable
script(src='plugins/datatables/jquery.dataTables.min.js')
script(src='plugins/datatables/dataTables.bootstrap4.min.js')
// Datatable responsive
script(src='plugins/datatables/dataTables.responsive.min.js')
script(src='plugins/datatables/responsive.bootstrap4.min.js')
|

//fullcalendar
script(src='plugins/fullcalendar/js/fullcalendar.min.js')
|
//Dropzone
script(src='plugins/dropzone/dist/dropzone.js')

|
// init files
//- script(src='assets/pages/form-editors.int.js')
//- script(src='assets/pages/dashboard.js')
//- script(src='assets/pages/form-advanced.js')
script(src='assets/pages/calendar-init.js')
script(src='assets/pages/datatables.init.js')

//- script(src='assets/pages/form-repeater.int.js')
//- script(src='assets/pages/sweet-alert.init.js')

|
|
script(src='assets/js/app.js')
script(src='assets/js/custom.js')


 