.topbar
    .topbar-left
        a(href="index.html").logo
            span
                img(src="assets/images/logo.png", alt="", width="150")
            i
                img(src="assets/images/logo-sm.png" alt="" height="42")
    nav.navbar-custom
        ul.navbar-right.d-flex.list-inline.float-right.mb-0
            li.dropdown.notification-list.d-none.d-md-block
                a(href="#" id="btn-fullscreen").nav-link.waves-effect
                    i.mdi.mdi-fullscreen.noti-icon
            li.dropdown.notification-list
                .dropdown.notification-list.nav-pro-img
                    a(class="dropdown-toggle nav-link arrow-none waves-effect nav-user" data-toggle="dropdown" href="#" role="button" aria-haspopup="false" aria-expanded="false")
                        img(src="assets/images/users/user-4.jpg" alt="user" class="rounded-circle")
                    .dropdown-menu.dropdown-menu-right.profile-dropdown
                        a(href="" class="dropdown-item" )
                            i(class="mdi mdi-account-circle m-r-5")
                            | Profile
                        a(href="" class="dropdown-item" )
                            i(class="mdi mdi-wallet m-r-5")
                            | My Wallet
                        a(href="" class="dropdown-item  d-block" )
                            span(class="badge badge-success float-right")
                            | 11
                        .dropdown-divider
                        a(href="" class="dropdown-item text-danger")
                            i(class="mdi mdi-power text-danger") Salir
        ul.list-inline.menu-left.mb-0
            li.float-left
                button.button-menu-mobile.open-left.waves-effect
                    i.mdi.mdi-menu
        h1.topbar-title Mantenedor de Eventos y tickets
    